body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

textarea{
    margin-top: 14px;
    margin-bottom: 2.5px;
    /* font-size: 14px; */
}

.button{
    height: 61px;
    width: 61px;
    margin: 2px;
    border-radius: 7px;
    margin-top: 4px;
    border: 2px solid black;
    font-size: 15px;
}

.button:hover{
    background-color: rgb(196, 187, 187);
}

.button:active{
    background-color: rgb(159, 153, 153);
}

#calculator{
    width: 298px;
    border-radius: 14px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea{
    border-radius: 6px;
}

.delbtn{
    width: 131px;
    background-color: red;
    color: white;
}
.delbtn:hover{
    background-color: rgb(255, 81, 0);
}
.delbtn:active{
    background-color: red;
}

.operator{
    background-color: rgb(0, 127, 220);
    color: white;
}

.operator:hover{
    background-color: rgb(0, 81, 255);
}
.operator:active{
    background-color: rgb(0, 71, 202);
}

.greenbtn{
    background-color: rgb(115, 188, 6);
    color: white;
}
.greenbtn:hover{
    background-color: rgb(5, 184, 5);
}
.greenbtn:active{
    background-color: rgb(24, 130, 24);
}

#switches{
    margin-bottom: 10px;
}

.yellowbtn{
    background-color: rgb(251, 160, 24);
    color: white;
}
.yellowbtn:hover{
    background-color: rgb(245, 120, 37);
}
.yellowbtn:active{
    background-color: rgb(255, 85, 0);
}